*{
    margin: 0px;
    padding: 0px;

   }
   .main{
    background-color: black;
   height: 100%;
   width: 100%;
   display: block;
   flex-wrap: wrap;

   }
   .fistbox{
    height: auto;
    width: 100%;
    
   }
   .section{
    display: flex;
    flex-wrap: wrap;
    /* margin-right: auto;
    margin-left: auto;
    position: relative; */
   }
   /* .section2{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    align-content: flex-start;
   } */
   #car{
    
     width:510px;
  }
   .navbar{
  background-color: rgb(230, 194, 105);
  color: white;
  text-align: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  padding: 10px 0px;
   }
   
   .section1{
    padding: 20px 0px;
    font-size:xx-large;
    position: relative;
    min-height: 1px;
    margin-left: 30px;
    text-align: center;
    justify-content: center;
    color: white;
   }
   
   .subsection1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color:rgb(230, 194, 105);
   }
   .subsection2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 10px;
    font-weight: 50;
   }
   .subsection3{
    font-family: sans-serif;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
   }
   .subsection3 h1{
    font-weight: 100;
    color: rgb(230, 194, 105);
    padding: 0px 25px
  };
  
   #navbarButton{
   border-radius: 10px;
   padding:0px 10px ;
   height: 28px;
   margin-left: 100px;
   color:  white;
   background-color: rgb(28, 33, 107);
   }
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    background-color: white;
    
  }
  .col1{
  align-items:center ;
  justify-content: center;
  margin-top: 30px;

  }
  .listbox {
    color: white;
    background-color: black;
    width: auto;
    height: auto;
    font-family: sans-serif; 
   padding: 0px 20px;
   padding-bottom: 20px; 
    align-items: center;
    justify-content: center;
  }
  #logo{
    margin-left: 50px;
  }
  .col1 .listbox h3{
    align-items: center;
    justify-content: center;
   padding-top: 20px

  }
  
  .col1 ul{
    justify-content: center;
    align-items: center;
    margin-left: 30px;
   }
   .col1 ul li{
    margin-top: 15px;
    justify-content: center;
    text-align: justify;
    font-size: 20px;
   }
   .middleButton{
    margin-top: 25px;
    padding: 0px 30px;
    height: 45px;
    width: auto;
   font-size: 20px;
   text-align: center;
   background-color: rgb(230, 194, 105);
   justify-content: center;
   margin-left: 50px;
   overflow: hidden;
   }
   
   .col1 ul {
    list-style: none;
  }
  
  .col1 ul li:before {
    content: '✓';
    color: rgb(207, 140, 57);
  }
  .col1 ul li{
  white-space: 10px;
    margin-left: 20px;
  }
  
     .col2{
     align-items: center;
     justify-content: center;
     text-align: center;
      margin: 20px 0px;
    }
  
   .training-section{
     width: 100%;
     height: 100%;
     align-items: center;
     justify-content: center;
    
   }
   .training-section h1{
    text-align: center;
    color: white;
    font-family: sans-serif;
    margin: 20px 0px;
  }
  .hr{
    height: 8px;
    
    margin: 20px 0px;
    margin: 0px 20px;
    background: rgb(46, 12, 128);
    border-radius: 10px;
    border: none;
    margin-left: 20px;
    
    
  }
   .training-item i {
  
    font-size: 50px;
    color: rgb(207, 140, 57);
   }
   .container{
    width: 1170;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    padding-bottom: 20px;
   }
.training-item{
  background-color: white;
  flex-basis: 23%;
  justify-content: center;
  padding:20px 0px ;
  margin: 20px 0px;
  text-align: center;
  font-family: sans-serif;
 
}
.training-item i{
  margin-top: 10px;
}
.training-item h2{
  margin: 20px 0px;
}
.training-item p{
  font-size: 14px;
  padding: 5px;
  font-weight: 10;
}
.bluebox{
  margin: 0px 10px;
  background-color: rgb(10, 10, 104);
  text-align: center;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  border: 2px solid white;
 
}

#button{
  height: 30px;
  width: 310px;
 font-size: 20px;
 text-align: center;
 background-color: rgb(230, 194, 105);
 justify-content: center;
 margin-top: 30px;
}
    
.footer{
  color: white;
}


@media only screen and (min-width:200px) and (max-width:767px) {
  .container{
    width: 100%;
    flex-direction:column;
  }
  .training-item i{
    margin: 10px;
  }
}
